--- 
import "../styles/global.css";
import { Footer } from "@components/Footer.tsx"
import { Header } from "@components/Header.tsx"
import AvatarContainer from "@components/AvatarContainer.astro"
import Avatar from "@components/Avatar.astro"
import { ViewTransitions } from "astro:transitions";
import type { ImageMetadata } from "astro";

interface Props {
	title: string;
	description: string;
	image: string;
}

const { title, description, image } = Astro.props;

const siteUrl = `https://${import.meta.env.VERCEL_URL}`

const images = import.meta.glob<{default: ImageMetadata}>("../images/**/*.{jpg,jpeg,png,webp}")

const metaImage = await Object.entries(images).find(([key]) => key.includes(image))?.[1]?.()
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description}>
		<meta name="og:image" content={metaImage?.default.src}>
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<link
			rel="alternate"
			type="application/rss+xml"
			href={`${siteUrl}/rss/feed.xml`}
		/>
		<link
			rel="alternate"
			type="application/feed+json"
			href={`${siteUrl}/rss/feed.json`}
		/>
		<ViewTransitions />
	</head>
	<body class="flex h-full flex-col bg-zinc-50 dark:bg-black">
		<script src="../utils/modeScript" />
		<div class="fixed inset-0 flex justify-center sm:px-8">
			<div class="flex w-full max-w-7xl lg:px-8">
				<div class="w-full bg-white ring-1 ring-zinc-100 dark:bg-zinc-900 dark:ring-zinc-300/20" />
			</div>
		</div>
		<div class="relative">
			<Header client:load pathname={Astro.url.pathname}>
				<AvatarContainer
					slot="avatarContainer"
					className="absolute left-0 top-3 origin-left transition-opacity"
					style={{
						opacity: 'var(--avatar-border-opacity, 0)',
						transform: 'var(--avatar-border-transform)',
					} as astroHTML.JSX.CSSProperties}
				/>
				<Avatar
					slot="avatar"
					large
					className="block h-16 w-16 origin-left"
					style={{ transform: 'var(--avatar-image-transform)' } as astroHTML.JSX.CSSProperties}
				/>
				<AvatarContainer slot="avatarMixed">
					<Avatar />
				</AvatarContainer>
			</Header>
			<main>
				<slot />
			</main>
			<Footer />
		</div>
	</body>
</html>